

    <div class="footer-copyright bg-dark text-center py-3 background">

      

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          
            <div class="px-2">
                <i class="bi bi-github tamanhoicone"></i>
            </div>
            
            <div class="px-2">
                <i class="bi bi-instagram tamanhoicone"></i>
            </div>
          
            <div class="px-2">
                <i class="bi bi-linkedin tamanhoicone"></i>
            </div>
        </div>

        <span class="text-light mt-2"> © 2022 Copyright: <a class="text-light">Renan Oliveira</a> </span>

      </div>
  
    </div>
  