.letrabranca{
  color: white;
}

#img-bg
{
background-image: url('https://i.imgur.com/oZnflJe.jpg');


height: 100vh;

background-position:bottom;
background-repeat: no-repeat;
background-size: cover;
}



.background{
  background-color: #17284B;
  height: 100vh;
}

